@model WebApplication1.Models.NomineeDetail

@{
    ViewData["Title"] = "DeleteNominee";
}

<h2>DeleteNominee</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NomineeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_ImgLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_ImgLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_Votes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_Votes)
        </dd>
    </dl>
    
    <form asp-action="DeleteNominee">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="NomineeList">Back to List</a>
    </form>
</div>
