@model IEnumerable<WebApplication1.Models.NomineeDetail>
@{
    ViewData["Title"] = "NomineeScore";
}
<br />
<a asp-action="NomineeList" class="btn btn-default" style="color: white;background-color: black; font-weight:bolder; ">Redigera listan med Nominerade</a>
<a asp-action="NomineeScore" class="btn btn-default" style="color: white;background-color: gray;font-weight:bolder; ">Resultat från röstning</a>
<a asp-action="InsertNominee" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Lägg till Nominerade</a>
<a asp-action="ViewAttending" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Visa anmälningar</a>
<a asp-action="AllUsers" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Visa användare</a>

<h2>Resultat från röstningen</h2>
@{
    bool hej = ViewBag.voting;
    if (ViewBag.voting == true)
    {
        <a asp-action="CloseVote" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Stäng röstning</a>

    }
    else
    {
        <a asp-action="OpenVote" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Öppna Röstning</a>

    }
}


@{
    int i = 0;
    if (ViewData["ByYear"] != null) { i = (int)ViewData["ByYear"]; }
    string s = @ViewBag.message;
    if (@ViewBag.message != null)
    {

    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_ImgLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_Votes)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_ImgLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_Votes)
                </td>
                <td>
                    <a asp-action="Motivations" asp-route-id="@item.Nominee_Id">Motivation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="NomineeList">Redigera listan med deltagare</a>
