@model WebApplication1.Models.NomineeDetail

@{
    ViewData["Title"] = "NomineeDetails";
}

<h2>NomineeDetails</h2>

<div>
    <h4>NomineeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nominee_ImgLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nominee_ImgLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditNominee" asp-route-id="@Model.Nominee_Id">Redigera Nominerad</a> |
    <a asp-action="NomineeList">Tillbaka till listan med nominerade</a>
</div>
