@model IEnumerable<WebApplication1.Models.NomineeDetail>

@{
    ViewData["Title"] = "NomineeList";
}

<h2>NomineeList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_ImgLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_Votes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nominee_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominee_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominee_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominee_ImgLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominee_Votes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nominee_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nominee_Id">Details</a> |
                <a asp-action="DeleteNominee" asp-route-id="@item.Nominee_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
