@model IEnumerable<WebApplication1.Models.NomineeDetail>

@{
    ViewData["Title"] = "NomineesToVoteOn";
}

<h2>Årets ideare som går att rösta på!</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nominee_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominee_ImgLink)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominee_LastName)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Nominee_ImgLink)" style="width: 30%; " />
                </td>

                <td>
                    <div class="form-group">
                        <a asp-action="VoteSite" class="btn btn-default" asp-route-id="@item.Nominee_Id">Rösta</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
