@model IEnumerable<WebApplication1.Models.AttendingDetail>

@{
    ViewData["Title"] = "ViewAttending";
}
<br />
<a asp-action="NomineeList" class="btn btn-default" style="color: white;background-color: black; font-weight:bolder; ">Redigera listan med Nominerade</a>
<a asp-action="NomineeScore" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Resultat från röstning</a>
<a asp-action="InsertNominee" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Lägg till Nominerade</a>
<a asp-action="ViewAttending" class="btn btn-default" style="color: white;background-color: gray;font-weight:bolder; ">Visa anmälningar</a>
<a asp-action="AllUsers" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Visa användare</a>

<h2>ViewAttending</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attending_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending_Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending_Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending_Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending_Foodpref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attending_Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_Foodpref)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attending_Year)
                </td>
            </tr>
        }
    </tbody>
</table>
